/*
.Picture {

  img,
  svg {
    background-color: gray;
    border-radius: 10px;

    $img-size: 20px;
    width:  $img-size;
    height: $img-size;

    background-color: gray;

    border-radius: $img-size * 0.2;
  }

}
*/
